*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.container{
   max-width:100%;
   text-align: center;
  
}
.image-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 50px;
    margin-bottom: 10px;
   align-items:center;
    
}

.image-gallery img{
    max-width:300px;
    min-height: 250px;
    padding: 0.4rem;

}
input{
    display: none;
}
.top-content{
  
    width:100%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 3px 3px 5px lightgrey;
    
}
h3{
    height: 100%;
    background-color: rgb(221, 221,221);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0 30px;
    line-height: 60px;
    font-size:18px;
    color: grey;
    cursor: pointer;
    transition: color .5s;

}
label:hover{
    color: black;

}
#check1:checked ~ .container .image-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;

}
#check2:checked ~ .container .image-gallery .flowers{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check2:checked ~ .container .image-gallery .birds{
    opacity: 0;
    transform: scale(0);
    position:absolute;
}


#check3:checked ~ .container .image-gallery .birds{
    transform: scale(1);
    opacity: 1;
    position: relative;
}
#check3:checked ~ .container .image-gallery .flowers{
    opacity: 0;
    transform: scale(0);
    position:absolute;
}

@media screen and (max-width:610px){
    .top-content{
       
        width:auto;
        margin: 0 auto 20px auto;
        height: 60px;
        display: flex;
        align-items: center;
    
        
    }
    
    label{
    display:flex;
    height: 100%;
    padding: 0 2px;
    margin: 0 10px;
    line-height: 60px;
    font-size:14px;
    color: grey;
    cursor: pointer;
    transition: color .5s;
}

h3{
    height:100%; 
    background-color: rgb(221, 221,221);
    line-height: 60px;
    padding: 0 50px;
    color: white;
    font-size:10px;
}

@media screen and (max-width:410px){
    
.image-gallery img{
    max-width:150px;
    min-height: 100px;
    padding: 0.5rem;
}















